/*header*/

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1358.49px;
    width: 100%;
}

.header{
    height: 80px;
    display: flex;
    justify-content: center;
}


.lang{
    display: flex;
    align-items: center;
    gap: 8px;
}

.loginButton-language{
    display: flex;
    align-items: center;
    gap: 18px;
}

.login-button{
    background-color: #E5133A;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}

/*hero*/

.hero {
    height: 500px;
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-subTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.title-subTitle h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    color: #1A1A1A;
}

.title-subTitle p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #1A1A1A;
}

/*converters*/

#amount, #convertedAmount {
    border: none;
    height: 28px;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    background-color: transparent;
    width: 220px;

}

#amount::placeholder, #convertedAmount::placeholder{
    color: #A7A7A7;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

#amount:focus, #convertedAmount:focus{
    outline: none;
}

.convertedAmount, .amount{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    padding: 8px 20px;
    border: 1px solid #C6C6C6;
    border-radius: 4px 0 0 4px;
}

.convertedAmount label, .amount label{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #1A1A1A;
}

.convertedAmount-input, .amount-input{
    display: flex;
    align-items: center;
}

.currency-convert, .currency-select{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px 20px;
    border-top: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.currency-convert span, .currency-select span{
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    color: #1A1A1A;
}

.container{
    display: inline-flex;
    gap: 30px;
    align-items: center;
}

.exchangeFees-info{
    display: flex;
    align-items: center;
    gap: 8px;
}

.converter-bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.convertBoxTile-subTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.convertBoxTile-subTitle h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    color: #1A1A1A;
    max-width: 654px;
    width: 100%;
    text-align: center;
}

.convertBoxTile-subTitle p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #1A1A1A;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.converter-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 20px 50px 2px rgba(26, 26, 26, 0.10);
    margin-top: 40px;
    position: relative;
    height: 80%;
}

/* dropdown */

.item-content{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 107px 11px 47px;
}

.item-content .sigle {
    font-weight: 600;
    width: 31px;
}

.definition{
    width: 136px;
}

.dropdown-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    max-height: 230px;
    overflow-y:scroll;
    padding: 20px 0;
}

.dropdown-items::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    
}

.dropdown-items::-webkit-scrollbar-track {
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Handle */
  .dropdown-items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .dropdown-items::-webkit-scrollbar-thumb:hover {
    background: #555;
    
  }

.dropdown-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    background-color: #fff;
    border-radius: 8px;
    width: 363px;
    box-shadow: 0px 3px 12px 0px rgba(26, 26, 26, 0.10);
}

.item-content:hover{
    background-color: #F6F6F6;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-left{
    position: absolute;
    left: 40px;
    top: 315px;
}

.dropdown-right{
    position: absolute;
    right: 40px;
    top: 315px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}